In [1]:
# sets are unordered and cannot be indexed
# they cannot contain duplicates
num_set = {1,2,3,4,5}
print(3 in num_set)

True

In [2]:
# empty sets must be differentiated from dicts
dict = {}
set = set()

In [3]:
# list can be appended, set can be added
num_set.add(6)
num_set

{1, 2, 3, 4, 5, 6}

In [4]:
# remove - removes a specific element
# pop - removes an arbitraray element
num_set.remove(6)
num_set

{1, 2, 3, 4, 5}

In [8]:
# | : union combines two sets by taking values that are in either one
# & : intersection combines sets by taking values that are in both
# - : difference combines sets by taking values that are in the first but not in the second
# ^ : symmetric difference combine sets by taking values that are in one but not in the other
first = {1, 2, 3, 4, 5, 6}
second = {4, 5, 6, 7, 8, 9}

print(first | second)
print(first & second)
print(first - second)
print(first ^ second) # opposite of |

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{1, 2, 3, 7, 8, 9}